{% extends 'base.html' %}

{% block title %}Answer{% endblock %}

{% block body %}
<h1>Ask the Robot!</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <!-- COLUMN ONE -->
      <div class="row justify-content-center">
        <!--You can have as many rows as you need.-->
        <img src={{random_robot_img}} />
      </div>
    </div>
    <div class="col">
      <div class="row justify-content-center">
<html>
<head>
  <meta charset="UTF-8">
  <title>Ask the Robot!</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/site.css">
</head>
<body>
<div id="profile">
  <h2>You can ask about DJs</h2>
  <form id="dj-info" method="GET">
    <div>
      <label>Air Name: </label>
      <select selected=dj_id onchange="this.form.submit()" name="dj_id" id="dj-picker">
        {% for ii in dj_list %}
          <option value="{{ ii[1] }}">{{ ii[0] }}</option>
        {% endfor %}
      </select>

    </form>
    </div>
    <div>

  <form id="dj-most-plays" method="GET">
      <label> DJ's Most Plays: </label>
        <input type="radio" name="dj-favorite" value="artist" class="dj" checked/>Artist
        <input type="radio" name="dj-favorite" value="album" class="dj"/>Album
        <input type="radio" name="dj-favorite" value="track" class="dj"/>Track
    </div>
  </form>

    <div>
      <button class="orange_button" type="submit" id="dj-most-plays">DJ's Top Plays</button>
    </div>

  <h2>You can ask about Last Plays</h2>
  <form id="artist-last-plays" method="GET">
    <div>
      <label>An Artist:
      <input class="form-control" type="text" name="artist" id="name-field"
             placeholder="Pink Floyd">
      <button class="orange_button" type="submit" id="artist-last-plays">Artist</button>
    </label>
    </div>
    </form>

  <form id="album-last-plays" method="GET">
    <div>
      <label>An Album: 
      <input class="form-control" type="text" name="album" id="name-field"
             placeholder="Dark Side of the Moon">
      <button class="orange_button" type="submit" id="album-last-plays">Album</button>
    </div></label>
  </form>

  <form id="track-last-plays" method="GET">
    <div>
      <label>A Track:
      <input class="form-control" type="text" name="track" id="name-field"
             placeholder="Eclipse">
      <button class="orange_button" type="submit" id="track-last-plays">Track</button>
    </div> </label>
  </form>
  

  <h2>You can ask about Top Plays</h2>
  <form id="top-plays" method="GET">
    <div>
      <label>Top: </label>
        <input type="radio" name="top-n" value=10 class="top-plays" checked/>Top 10
        <input type="radio" name="top-n" value=40 class="top-plays"/>Top 40
    </div>

    <div>
      <label>By: </label>
        <input type="radio" name="top-plays" value="artist" class="top-plays" checked/>Artist
        <input type="radio" name="top-plays" value="album" class="top-plays"/>Album
        <input type="radio" name="top-plays" value="track" class="top-plays"/>Track
    </div>

    <div>
      <label>Start Date: 
      <input class="form-control" type="date" name="start_date" id="start_date"
             placeholder="2022-01-01"></label>
      <label>End Date: 
      <input class="form-control" type="date" name="end_date" id="end_date"
            placeholder="2022-01-08">
    </div>
      
    <div>
      <button class="orange_button" type="submit" id="top-plays">Submit</button>
    </div>
      
  </form>
  <div id="profiles">
  </div>
</div>
</div>
</div>
</div>
<script src="/static/js/profile.js"></script>
{% endblock %}