{% extends 'base.html' %}

{% block title %}Answer{% endblock %}

{% block body %}
<h1>Answer</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <!-- COLUMN ONE -->
      <div class="row justify-content-center">
        <!--You can have as many rows as you need.-->
        <img src={{ random_robot_img }} />
      </div>
    </div>

    <div class="col">
      <div class="row justify-content-center">

        {% if answer_correct %}
        <!-- Green for right and red for wrong. -->
          <p id="correct"> {{ user_msg }} </p>
        {% else %}
          <p id="incorrect"> {{ user_msg }} </p>
        {% endif %}
        <p> {{ present_answer }} </p>
       
        <table>
          <tr id="table_heading">
            <td>{{ present_answer_data_headings[0] }} </td>
            <td>{{ present_answer_data_headings[1] }} </td> 
          </tr>
          {% for ii in present_answer_data %}
            {% if the_right_answer in ii %}
            <tr id="ima_leader">
              <td>{{ ii[0] }} </td><td>{{ ii[1] }} </td> 
            </tr>
            {% else %}
            <tr>
              <td>{{ ii[0] }} </td><td>{{ ii[1] }} </td> 
            </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
      <br>
      <br>
      <br>
      <br>

      <form action="/play" id="game-on-form">
        <label>Play again?</label>
          <p><input type="radio" name="game-on" value=true class="game-on" checked/> Yes, another quesion.</p>
          <p><input type="radio" name="game-on" value=false class="game-on"/> Nah, I'd rather listen to KFJC.</p>
          <p><button class="orange_button"  type="submit" id="submit-profile">Submit</button></p>
      </form>
 
    </div>
  </div>
</div>

{% endblock %}