{% extends 'base.html' %}

{% block title %}Answer{% endblock %}

{% block body %}
<h1>Answer</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <!-- COLUMN ONE -->
      <div class="row justify-content-center">
        <!--You can have as many rows as you need.-->
        <img src={{random_robot_img}} />
      </div>
    </div>
    <div class="col">
      <div class="row justify-content-center">
        <h2> {{ user_msg }} </h2>
        <p> {{ answer }} </p>
        <p> {{ answer_data }} </p>
     </div>
     
     <form action="/play" id="game-on-form">
 
       <label>Play again?</label>
         <input type="radio" name="game-on" value=true class="game-on" checked/>Yes
         <input type="radio" name="game-on" value=false class="game-on"/>No
         <button class="radio-btn" type="submit" id="submit-profile">Submit</button>
       </form>
 
    </div>
  </div>
</div>

{% endblock %}