{% extends 'base.html' %}

{% block title %}Ask{% endblock %}

{% block body %}
<h1>Ask the Robot!</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <!-- COLUMN ONE -->
      <div class="row justify-content-center">
        <!--You can have as many rows as you need.-->
        <img src={{ random_robot_img }} />
      </div>
    </div>

    <div class="col">
      <div class="row justify-content-center">

        <div>
          <h2>You can ask about DJs:</h2>
          <form id="dj-info" method="GET">
            <div>
              <label>Air Name: </label>
                <select onchange="this.form.submit()" name="dj_id" id="dj-picker">
                  <!-- TODO return ii[1], the airname to the js handler, too. -->
                  {% for ii in dj_airnames %}
                    {% if ii[0] == dj_selected %}
                      <option selected value="{{ dj_selected }}">{{ ii[1] }}</option>
                    {% else %}
                      <option value="{{ ii[0] }}">{{ ii[1] }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
            </div>
            {% if dj_stat %}
              {{ dj_stat }}
            {% endif %}
            <div>
              <br>
                <label> DJ's Most Played: </label>
                  <input type="radio" name="dj-favorite" value="artist" class="dj" checked/>Artist
                  <input type="radio" name="dj-favorite" value="album" class="dj"/>Album
                  <input type="radio" name="dj-favorite" value="track" class="dj"/>Track
            </div>
            <div>
              <button class="orange_button" type="submit" id="dj-most-plays">DJ's Top Plays</button>
            </div>
          </form>

          <div>
            {% if dj_most_plays_headings %}
            <table>
              <tr id="table_heading">
                <td>{{ dj_most_plays_headings[0] }} </td>
                <td>{{ dj_most_plays_headings[1] }} </td> 
              </tr>
              {% for ii in response %}
                <tr>
                  <td>{{ ii[0] }} </td>
                  <td>{{ ii[1] }} </td> 
                </tr>
              {% endfor %}
            </table>
            {% endif %}
          </div>
        </div>
        <br>

        <div>
          <h2>You can ask about Last Plays:</h2>
            <form id="artist-last-plays" method="GET">
              <label>An Artist:</label>
                <input class="orange_button" id="artist-last-plays-button" type="submit" value="artist" style="float: right" />
                <div style="overflow: hidden; padding-right: .5em;">
                  <input type="text" id="artist-last-plays-string" style="width: 100%;" placeholder="Pink Floyd" />
                </div>
            </form>

            <form id="album-last-plays" method="GET">
              <label>An Album:</label>
                <input class="orange_button" id="album-last-plays-button" type="submit" value="album" style="float: right" />
                <div style="overflow: hidden; padding-right: .5em;">
                  <input type="text" id="album-last-plays-string" style="width: 100%;" placeholder="Dark Side of the Moon" />
                </div>
            </form>

            <form id="track-last-plays" method="GET">
              <label>A Track:</label>
                <input class="orange_button" id="track-last-plays-button" type="submit" value="track" style="float: right" />
                <div style="overflow: hidden; padding-right: .5em;">
                    <input type="text" id="track-last-plays-string" style="width: 100%;" placeholder="Eclipse" />
                </div>
            </form>
        </div>
        <br>

        <div>
          <h2>You can ask about Top Plays:</h2>
            <form id="top-plays" method="GET">
              <div>
                <label>Top: </label>
                  <input type="radio" id="top-n-int" name="top-n" value=10 checked/>Top 10
                  <input type="radio" id="top-n-int" name="top-n" value=40 />Top 40
              </div>

              <div>
                <label>By: </label>
                  <input type="radio" id="top-n-media-str" name="top-plays-media" value="artist" checked/>Artist
                  <input type="radio" id="top-n-media-str" name="top-plays-media" value="album" />Album
                  <input type="radio" id="top-n-media-str" name="top-plays-media" value="track" />Track
              </div>

              <div>
                <label>Start Date: 
                  <input class="form-control" type="date" name="start-date" id="start-date"></label>
                <label>End Date: 
                  <input class="form-control" type="date" name="end-date" id="end-date"></label>
              </div>

              <div>
                <button class="orange_button" type="submit" id="top-plays-button" >Top Plays</button>
              </div>
            </form>
            <br>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/listeners.js"></script>
  <div id="answer_window"></div>
</div>

{% endblock %}