{% extends 'base.html' %}

{% block title %}Infopage{% endblock %}

{% block body %}
<h1>Infopage</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <!-- COLUMN ONE -->
      <div class="row justify-content-center">
        <!--You can have as many rows as you need.-->
        <img src={{ random_robot_img }} />
      </div>
    </div>

    <div class="col">
      <div class="row justify-content-center">
        <p>I am a handcrafted robot. Here is information about my maker:</p>
        <h2>Jerry Majors Patterson</h2>
          <p><a href="mailto:jem@me.com?subject=I've met the KFJC Trivia Robot">Email</a></p>
          <p><a href="https://www.linkedin.com/in/jerry-majors-patterson/">Linkedin</a></p>
          <p><a href="https://github.com/jearldean?tab=repositories">Github</a></p>
          <p><a href="https://fellowship.hackbrightacademy.com/sis/career-day/students-packet/1496/">Hackbright</a></p>
      </div>
      <br>
      <b>Why do some DJs have ♡ hearts ♡ around their names?</b>
      <p>We're honoring our DJs who have departed this mortal plane.</p>
    </div>
  </div>
</div>

{% endblock %}