{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block body %}
<h1>{{ user_msg }}</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <!-- COLUMN ONE -->
      <div class="row justify-content-center">
        <!--You can have as many rows as you need.-->
        <img src={{ random_robot_img }} />
      </div>
    </div>

    <div class="col">
      <div class="row justify-content-center">
        <h2>{{ robot_msg }}</h2>
        <br>
        {% for n in range(table_range) %}
          {% if current_user == leaders[n][0] %}
            <!-- Special Printing if it's the current player: -->
            <p id="ima_leader"> {{ n+1 }}. {{ leaders[n][2] }} </p>
          {% else %}
            <p> {{ n+1 }}. {{ leaders[n][2] }} </p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}