{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block body %}
<h1>{{ user_msg }}</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <!-- COLUMN ONE -->
      <div class="row justify-content-center">
        <!--You can have as many rows as you need.-->
        <img src={{random_robot_img}} />
      </div>
    </div>
    <div class="col">
      <div class="row justify-content-center">
        <h2>{{ robot_msg }}</h2>
        <br>
        {% for n in range(table_range) %}
          <p> {{ n+1 }}. {{ leaders[n] }} </p>
        {% endfor %}
     </div>
    </div>
  </div>
</div>

{% endblock %}